<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Title>Tonatiuh++ 0.1.9 Installer</Title>
    <Name>Tonatiuh++</Name>
    <Version>0.1.9</Version>
    <Publisher>The Cyprus Institute</Publisher>
    <TargetDir>@HomeDir@/Tonatiuh++</TargetDir>
    <StartMenuDir>Tonatiuh++</StartMenuDir>
    <WizardStyle>Modern</WizardStyle>
<!--    <Logo>logo.png</Logo>-->
</Installer>
